
/*@import '../../node_modules/modern-normalize/modern-normalize.css';

@import "../../node_modules/@fontsource/merriweather/";
@import "../../node_modules/@fontsource/lato";
@import "../../node_modules/@fontsource/source-code-pro";

*/

@import "modern-normalize";
@import "@fontsource/lato";
@import "@fontsource/merriweather";
@import "@fontsource/source-code-pro";
/* custom reset */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  width: 100vw;
  height: 100vh;

  scrollbar-width: thin;
  scroll-behavior: smooth;
}

a {
  color:inherit;
  text-decoration: none;
}

li {
  list-style: none;
}


/* Fonts */
h1,h2,h3,h4,h5,h6, .ff-head { font-family: "Merriweather", -apple-system, BlinkMacSystemFont, serif; }

html, body, .ff-body {
  font-family: "Lato",sans-serif; 
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

}

code { font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New",
    monospace; }

:root {
  --accent: rgb(233,188,8); 
}
