@use 'sass:math';
@use '../../../styles/btn';

.container {
	background: #000000c1;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;

	width: 100%;
	height: 100%;

	z-index: 1;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0.1) 0%,
				rgba(0, 0, 0, 0.6) 90%
			),
			linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
	}

	padding: math.div(100vh, 2.8) 0;
}

.heroBg {
	width: 100%;
	height: 100%;

	overflow: hidden;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.videoBg {
	width: 100%;
	height: 100%;

	background: #232a34;

	object-fit: cover;
	-o-object-fit: cover;
}

.heroContent {
	z-index: 3;
	max-width: 1200px;
	position: absolute;
	align-items: center;
	flex-direction: column;
}

.heroTitle {
	color: white;
	font-size: 68px;
	text-align: center;

	@media screen and (max-width: 480px) {
		font-size: 36px;
	}

	@media screen and (max-width: 768px) {
		font-size: 48px;
	}
}

.heroMotto {
	color: white;
	text-align: center;
	margin-top: 24px;
	max-width: 600px;

	@media screen and (max-width: 480px) {
		font-size: 20px;
	}

	@media screen and (max-width: 768px) {
		font-size: 28px;
	}
}

.heroCtaBtnContainer {
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 200px 0px;

	@media screen and (max-width: 768px) {
		margin: 300px 0px;
	}
}

.heroCtaBtn {
	@extend %btnLightSmall;
	&:focus {
		@extend %btnDarkSmall;
	}
}

.heroCtaBtnIcon {
	margin-left: 8px;
	font-size: 20px;
}

.heroCtaBtnIconA {
	color: black;
}

.heroCtaBtnIconB {
	color: black;
}

.heroCtaBtnIcon {
	display: none;
}

.iconRight > .heroCtaBtnIconA {
	display: block;
}

.iconRight > .heroCtaBtnIconB {
	display: none;
}

.iconChevRight > .heroCtaBtnIconA {
	display: none;
}

.iconChevRight > .heroCtaBtnIconB {
	display: block;
}
