@use '../../../styles/btn';

.container {
	background-color: #101522;
	padding: 4rem 0 2rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.subWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 24px;
	padding: 24px;
	color: #fff;
}

.subHeading {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	margin-bottom: 24px;
	font-size: 24px;
}

.subText {
	margin-bottom: 24px;
	font-size: 16px;
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	@media screen and (max-width: 820px) {
		flex-direction: column;
		width: 80%;
	}
}

.formInpt {
	padding: 10px 20px;
	border-radius: 2px;
	margin-right: 10px;
	outline: none;
	border: none;
	font-size: 16px;
	border: 1px solid #fff;
	&::placeholder {
		color: #242424;
	}
	@media screen and (max-width: 820px) {
		width: 100%;
		margin: 0 0 16px 0;
	}
}

.linkContainer {
	width: 100%;
	max-width: 1000px;
	display: flex;
	justify-content: center;
	@media screen and (max-width: 820px) {
		padding-top: 32px;
	}
}

.linkWrapper {
	display: flex;
	@media screen and (max-width: 820px) {
		flex-direction: column;
	}
}

.linkItem {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 16px;
	text-align: left;
	width: 160px;
	box-sizing: border-box;
	color: #fff;
	@media screen and (max-width: 420px) {
		margin: 0;
		padding: 10px;
		width: 100%;
	}
}

.linkItemTitle {
	margin-bottom: 16px;
}

.footLink {
	color: #fff;
	text-decoration: none;
	margin-bottom: 0.5rem;
	&:hover {
		color: #0467fb;
		transition: 0.3s ease-out;
	}
}

.socials {
	max-width: 1000px;
	width: 100%;
}

.socialsWrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	max-width: 1000px;
	margin: 40px auto 0 auto;
	@media screen and (max-width: 820px) {
		flex-direction: column;
	}
}

.socialsLogos {
	color: #fff;
	justify-self: start;
	cursor: pointer;
	text-decoration: none;
	font-size: 2rem;
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.socialsIcon {
	margin-right: 10px;
}

.WebsiteRights {
	color: #fff;
	margin-bottom: 16px;
}

.socialsIcons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 240px;
}

.socialsIconLink {
	color: #fff;
	font-size: 24px;
}

.Button {
	@extend %btnLightSmall;
	@extend %btn-fontBig;

	&:hover {
		@extend %btnDarkSmall;
	}
}
